body {
  color: #161616;
  margin: 0;
  color: #eee;
  background-color: #161616;
  font-size: larger;
}

label {
  padding-top: 12px;
}

#tab_bar {
  height: 50px;
  display: inline-flex;
  width: 100%;
  padding: 10px;
  /* flex-direction: row; */
  /* vertical-align: bottom; */
  justify-content: center;
  /* align-items: center; */
  background-color: #252525;
    font-size: larger;
}

#tab_bar button {
  padding: 10px;
  margin: auto 10px;
}

.container {
  /* text-align: center; */
  margin: 10 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2.5em 1em;
  font-size: larger;
}

#content_dialer,
#content_list,
#content_add {
  width: 100%;
  padding: 10px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #272727;
}

button {
  margin: 0 0 20px 0;
  background-color: #eee;
}

.pure-button-active {
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
}

.row {
  margin: 0 auto;
  clear: both;
  font-family: 'Fira Sans', sans-serif;
}

.botrow {
  padding-top: 12px;
  clear: both;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  /* move the items to center and far from each other */
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.digit,
.dig {
  float: left;
  padding: 10px 30px;  
  font-size: 2em;
  cursor: pointer;
  border: 0px solid #e6e6e6;
  background-color: white;
  color: #000000;
  margin: 10px;
}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
  border-radius: 50%;
}

#output {
  font-family: 'Exo';
  font-size: 2em;
  height: 60px;
  font-weight: bold;
  color: #1976d2;
  text-align: center;
  margin-bottom: 10px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  font-size: larger;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(4, 53, 16);
  /* this is a green */
  text-align: justify;
}

.button-error {
  background: rgb(75, 4, 4);
  /* this is a maroon */
  text-align: justify;
}

.dig {
  padding: 20px 20px;
  margin: 10px;
  /* cursor: pointer; */
}

.contact-form-button {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.contact-names {
  padding: 10px;
  margin: 5px 5px;
  cursor: pointer;
  text-align: center;
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
}

#contact-list-table {
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact_output_text {
  border: 0px solid;
  text-align: center;
}

.wrapper {
  position: relative;
}

.large_html_div {
  background-color: #515353;
  color: black;
  position: absolute;
  right: 10px;
  padding: 6px;
  border-radius: 10px;
}

.large_html_div a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
